.footer {
  margin-top: 50px;
  background-color: #18123f;
  color: azure;
  font-size: 2.2rem;
  padding: 10px 50px;
  &__link:hover {
    color: $hoverLinkColor;
    svg {
      fill: $hoverLinkColor;
    }
  }
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0 40px;
  svg {
    fill: white;
    width: 150px;
    height: 50px;
  }
  @media screen and (max-width: 760px) {
    padding: 0;
  }
}
