.header {
  background-color: #18123f;
  color: azure;
  font-size: 2rem;

  .cart {
    width: 80px;
    height: 80px;
    position: relative;
    background: url('../assets/title_cart.png');
  
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center;
  }

span {
  font-size: 2.5rem;
  text-align: center;
  min-width: 30px;
  position: absolute;
  display: inline-block;
  bottom: 15px;
  left: 10px;
  border: 1px solid azure;
  background-color: blue;
  border-radius: 50%;

}

  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

  }
}