/* Functional styling;
 * These styles are required for noUiSlider to function.
 * You don't need to change these rules to apply your design.
 */
.noUi-target,
.noUi-target * {
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-user-select: none;
  -ms-touch-action: none;
  touch-action: none;
  -ms-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.noUi-target {
  position: relative;
}
.noUi-base,
.noUi-connects {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
}
/* Wrapper for all connect elements.
 */
.noUi-connects {
  overflow: hidden;
  z-index: 0;
}
.noUi-connect,
.noUi-origin {
  will-change: transform;
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  -ms-transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  -webkit-transform-style: preserve-3d;
  transform-origin: 0 0;
  transform-style: flat;
}
/* Offset direction
 */
.noUi-txt-dir-rtl.noUi-horizontal .noUi-origin {
  left: 0;
  right: auto;
}
/* Give origins 0 height/width so they don't interfere with clicking the
 * connect elements.
 */
.noUi-vertical .noUi-origin {
  top: -100%;
  width: 0;
}
.noUi-horizontal .noUi-origin {
  height: 0;
}
.noUi-handle {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
}
.noUi-touch-area {
  height: 100%;
  width: 100%;
}
.noUi-state-tap .noUi-connect,
.noUi-state-tap .noUi-origin {
  -webkit-transition: transform 0.3s;
  transition: transform 0.3s;
}
.noUi-state-drag * {
  cursor: inherit !important;
}
/* Slider size and handle placement;
 */
.noUi-horizontal {
  height: 18px;
}
.noUi-horizontal .noUi-handle {
  width: 34px;
  height: 28px;
  right: -17px;
  top: -6px;
}
.noUi-vertical {
  width: 18px;
}
.noUi-vertical .noUi-handle {
  width: 28px;
  height: 34px;
  right: -6px;
  bottom: -17px;
}
.noUi-txt-dir-rtl.noUi-horizontal .noUi-handle {
  left: -17px;
  right: auto;
}
/* Styling;
 * Giving the connect element a border radius causes issues with using transform: scale
 */
.noUi-target {
  background: #FAFAFA;
  border-radius: 4px;
  border: 1px solid #D3D3D3;
  box-shadow: inset 0 1px 1px #F0F0F0, 0 3px 6px -5px #BBB;
}
.noUi-connects {
  border-radius: 3px;
}
.noUi-connect {
  background: #3FB8AF;
}
/* Handles and cursors;
 */
.noUi-draggable {
  cursor: ew-resize;
}
.noUi-vertical .noUi-draggable {
  cursor: ns-resize;
}
.noUi-handle {
  border: 1px solid #D9D9D9;
  border-radius: 3px;
  background: #FFF;
  cursor: default;
  box-shadow: inset 0 0 1px #FFF, inset 0 1px 7px #EBEBEB, 0 3px 6px -3px #BBB;
}
.noUi-active {
  box-shadow: inset 0 0 1px #FFF, inset 0 1px 7px #DDD, 0 3px 6px -3px #BBB;
}
/* Handle stripes;
 */
.noUi-handle:before,
.noUi-handle:after {
  content: "";
  display: block;
  position: absolute;
  height: 14px;
  width: 1px;
  background: #E8E7E6;
  left: 14px;
  top: 6px;
}
.noUi-handle:after {
  left: 17px;
}
.noUi-vertical .noUi-handle:before,
.noUi-vertical .noUi-handle:after {
  width: 14px;
  height: 1px;
  left: 6px;
  top: 14px;
}
.noUi-vertical .noUi-handle:after {
  top: 17px;
}
/* Disabled state;
 */
[disabled] .noUi-connect {
  background: #B8B8B8;
}
[disabled].noUi-target,
[disabled].noUi-handle,
[disabled] .noUi-handle {
  cursor: not-allowed;
}
/* Base;
 *
 */
.noUi-pips,
.noUi-pips * {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.noUi-pips {
  position: absolute;
  color: #999;
}
/* Values;
 *
 */
.noUi-value {
  position: absolute;
  white-space: nowrap;
  text-align: center;
}
.noUi-value-sub {
  color: #ccc;
  font-size: 10px;
}
/* Markings;
 *
 */
.noUi-marker {
  position: absolute;
  background: #CCC;
}
.noUi-marker-sub {
  background: #AAA;
}
.noUi-marker-large {
  background: #AAA;
}
/* Horizontal layout;
 *
 */
.noUi-pips-horizontal {
  padding: 10px 0;
  height: 80px;
  top: 100%;
  left: 0;
  width: 100%;
}
.noUi-value-horizontal {
  -webkit-transform: translate(-50%, 50%);
  transform: translate(-50%, 50%);
}
.noUi-rtl .noUi-value-horizontal {
  -webkit-transform: translate(50%, 50%);
  transform: translate(50%, 50%);
}
.noUi-marker-horizontal.noUi-marker {
  margin-left: -1px;
  width: 2px;
  height: 5px;
}
.noUi-marker-horizontal.noUi-marker-sub {
  height: 10px;
}
.noUi-marker-horizontal.noUi-marker-large {
  height: 15px;
}
/* Vertical layout;
 *
 */
.noUi-pips-vertical {
  padding: 0 10px;
  height: 100%;
  top: 0;
  left: 100%;
}
.noUi-value-vertical {
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding-left: 25px;
}
.noUi-rtl .noUi-value-vertical {
  -webkit-transform: translate(0, 50%);
  transform: translate(0, 50%);
}
.noUi-marker-vertical.noUi-marker {
  width: 5px;
  height: 2px;
  margin-top: -1px;
}
.noUi-marker-vertical.noUi-marker-sub {
  width: 10px;
}
.noUi-marker-vertical.noUi-marker-large {
  width: 15px;
}
.noUi-tooltip {
  display: block;
  position: absolute;
  border: 1px solid #D9D9D9;
  border-radius: 3px;
  background: #fff;
  color: #000;
  padding: 5px;
  text-align: center;
  white-space: nowrap;
}
.noUi-horizontal .noUi-tooltip {
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  left: 50%;
  bottom: 120%;
}
.noUi-vertical .noUi-tooltip {
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  top: 50%;
  right: 120%;
}
.noUi-horizontal .noUi-origin > .noUi-tooltip {
  -webkit-transform: translate(50%, 0);
  transform: translate(50%, 0);
  left: auto;
  bottom: 10px;
}
.noUi-vertical .noUi-origin > .noUi-tooltip {
  -webkit-transform: translate(0, -18px);
  transform: translate(0, -18px);
  top: auto;
  right: 28px;
}

*{margin:0;box-sizing:border-box}a{text-decoration:none}html{height:100%;font-size:10px}body{height:100%;display:flex;flex-direction:column;background:url(./assets/12.jpg);background-size:100%;background-attachment:fixed;background-position:center;background-repeat:no-repeat;background-color:#313166;color:azure}.card{border-style:solid;border-radius:10px;border-color:#3c3f3f;background-color:rgba(31,29,29,.3);font-size:1.8rem;cursor:pointer;user-select:none}@media screen and (max-width: 1588px){.card{font-size:1.6rem}}@media screen and (max-width: 828px){.card{font-size:1.5rem}}.card:hover{transition:all .4s;transform:scale(1.03)}.card .card__title{padding-left:20px}.card ul{padding-left:20px}.card li{list-style:none;padding-top:4px}.card__img-container{width:100%;height:160px;background-color:azure;display:flex;justify-content:center;align-items:center}.card__img-container .card__img{display:block;width:159px;height:auto}.card__favorites{display:flex;justify-content:end}.card__cart{width:40px;height:40px;margin:2px;border-style:solid;border-color:#3c3f3f;border-radius:10px;background:url(./assets/cart.png);background-size:100%;background-repeat:no-repeat;background-position:center}.card__cart_favorites{background-color:#daa520;border-color:red}.mfrs__button{font-size:0;border-radius:15px;border-color:#3c3f3f}.sizes__button{font-size:2.2rem;text-align:center;border-radius:50%;border-color:azure}.buttons{margin:6px 0;display:flex;gap:4px;user-select:none}.buttons .button{margin:1px;width:40px;height:40px;display:flex;justify-content:center;align-items:center;border-style:solid;border-width:2px;cursor:pointer;position:relative;transition:all .4s}.buttons .button:hover{transform:scale(1.2)}.buttons .button_active{border-color:red}.buttons .button.hot__button.button_active.hot{border-color:#3c3f3f}.buttons .button.colors__button.button_active.black{border-color:#000}.buttons .button.colors__button.button_active.white{border-color:azure}.buttons .button.colors__button.button_active.red{border-color:red}.buttons .button.colors__button.button_active.grey{border-color:gray}.buttons .lenovo{background:url(./assets/lenovo.jpg);background-size:100%;background-position:center}.buttons .hp{background:url(./assets/hp.jpg);background-size:100%;background-position:center}.buttons .msi{background:url(./assets/msi.jpg);background-size:100%;background-position:center}.buttons .dell{background:url(./assets/dell.jpg);background-size:100%;background-position:center}.buttons .colors__button,.buttons .hot__button{width:30px;height:30px}.buttons .colors__button.button_active::after,.buttons .hot__button.button_active::after{content:"";display:block;position:absolute;top:5px;left:8px;width:6px;height:9px;border-style:solid;border-width:0 4px 4px 0;border-color:#7fff00;transform:rotate(45deg)}.buttons .hot__button{background-color:#3c3f3f;color:#3c3f3f}.buttons .black{background-color:#000;color:#000}.buttons .white{background-color:azure;color:azure}.buttons .red{background-color:red;color:red}.buttons .grey{background-color:gray;color:gray}.noUi-connect,.noUi-handle{background:#535381;cursor:pointer}.noUi-tooltip{display:none}.noUi-active .noUi-tooltip{display:block;background:#535381;color:azure;font-size:1.6rem}.range__amount:hover,.range__age:hover{cursor:pointer}.range__amount:hover .noUi-tooltip,.range__age:hover .noUi-tooltip{display:block;background:#535381;color:azure;font-size:1.6rem}.noplace{position:fixed;top:0;left:0;width:100%;height:100%;display:flex;justify-content:center;align-items:center;z-index:1;background-color:rgba(0,0,0,.5);cursor:pointer;user-select:none}.noplace h2{padding:20px;border-radius:10px;font-size:4rem;background-color:#3c3f3f}.wrapper{max-width:1600px;margin:0 auto;height:100%}@media screen and (max-width: 1625px){.wrapper{padding:0 10px}}.footer{margin-top:50px;background-color:#18123f;color:azure;font-size:2rem}.footer__container{display:flex;justify-content:space-between;padding:0 40px}.footer__link{padding:10px 0;display:flex;align-items:center}.footer__link img{width:100px;height:auto}.footer__link span{padding:0 10px;color:azure}.main{flex-grow:1}.main .wrapper{display:flex;flex-direction:column}.cards{width:100%;height:100%;margin-top:20px;position:relative;display:grid;grid-template-columns:repeat(5, 1fr);justify-content:start;align-items:start;gap:20px}@media screen and (max-width: 1380px){.cards{grid-template-columns:repeat(4, 1fr)}}@media screen and (max-width: 1150px){.cards{grid-template-columns:repeat(3, 1fr)}}@media screen and (max-width: 800px){.cards{grid-template-columns:repeat(2, 1fr);gap:40px}}.header{background-color:#18123f;color:azure;font-size:2rem}.header .cart{width:80px;height:80px;position:relative;background:url(./assets/title_cart.png);background-position:center;background-repeat:no-repeat;background-size:80%;background-position:center}.header span{font-size:2.5rem;text-align:center;min-width:30px;position:absolute;display:inline-block;bottom:15px;left:10px;border:1px solid azure;background-color:blue;border-radius:50%}.header .wrapper{display:flex;justify-content:space-between;align-items:center}.filterConteiner{margin-top:20px;display:flex;gap:20px}@media screen and (max-width: 1200px){.filterConteiner{flex-direction:column}}.filterConteiner__group{width:100%;border:3px solid #3c3f3f;border-radius:10px;background-color:rgba(31,29,29,.3);user-select:none}.containerButtons{display:flex;align-items:center;padding-left:10px}.containerButtons h3{font-size:1.6rem;padding-right:10px}@media screen and (max-width: 1200px){.containerButtons{padding-left:80px}}.range__slider{display:flex;align-items:center;gap:20px}.range__slider .range__amount,.range__slider .range__age{flex:1 0 auto}.range{padding:10px 5px}.range h3{font-size:16px;padding:10px 0}.rang__value{font-size:2rem;width:70px;height:35px;display:flex;justify-content:center;align-items:center;border:3px solid #535381;border-radius:20px}.nodata{position:absolute;width:100%;top:40%;font-size:4rem;text-align:center}@media screen and (max-width: 1280px){.nodata{font-size:3rem}}@media screen and (max-width: 920px){.nodata{font-size:2.2rem}}
