.addition {
  background: #f6f6f6;
}

.wrapper__addition {
  display: flex;
  justify-content: center;
  column-gap: 30px;
  row-gap: 30px;
  padding-top: 80px;
  padding-bottom: 80px;
  @include media-max-tablet($max-tablet-with) {
    flex-direction: column-reverse;
    align-items: center;
    padding-top: 81px;
    padding-bottom: 100px;
  }
}

.addition__img {
  padding-top: 10px;
  padding-left: 1px;
}

.addition__content {
  max-width: 380px;
  .button-link {
    display: inline-flex;
  }
  .button-link {
    font-size: 20px;
    line-height: 115%;
    border: 0;
    border-radius: 9px;
    padding: 10px 15px;
  }
}

.ico_card {
  width: 30px;
  height: 23px;
  margin-right: 15px;
}

.addition__title-card {
  margin: 20px 0 19px 0;
}

.addition__text {
  font-style: italic;
  font-size: 12px;
  line-height: 18px;
  color: #b2b2b2;
  margin: 20px 0;
}
