.footer {
  background: url(../images/foto/noise_transparent@2x.png),
    radial-gradient(110.67% 538.64% at 5.73% 50%, #513d2f 0%, #1a1a1c 100%),
    #211f20;
}

.wrapper__footer {
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
  @include media-max-tablet() {
    flex-direction: column;
    align-items: center;
    padding-top: 15px;
  }
  @include media-max-tablet($max-mobile-widht) {
    padding-top: 13px;
  }
}

.footer__content {
  max-width: 740px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  @include media-max-tablet() {
    justify-content: center;
    column-gap: 40px;
  }
  @include media-max-tablet($max-mobile-widht) {
    flex-direction: column;
    align-items: center;
  }
}

.footer__contact,
.footer__adress {
  max-width: 300px;
  padding-top: 16px;
  padding-bottom: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @include media-max-tablet() {
    row-gap: 32px;
    padding-bottom: 66px;
  }
  @include media-max-tablet($max-mobile-widht) {
    row-gap: 40px;
    padding-bottom: 24px;
  }
}

.footer__contact {
  .ico {
    width: 40px;
    height: auto;
  }
  @include media-max-tablet($max-mobile-widht) {
    align-items: center;
  }
}

.footer__title {
  color: #ffffff;
}

.footer__adress {
  .ico {
    width: 22px;
    height: auto;
  }
  .footer__title {
    @include media-max-tablet($max-mobile-widht) {
      align-self: center;
      max-width: 270px;
    }
  }
}

.footer__link {
  display: flex;
  align-items: center;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #f1cdb3;
  &:hover {
    cursor: pointer;
  }
}

.footer__img {
  @include media-max-tablet($max-mobile-widht) {
    padding: 16px 20px 0;
  }
}
