@font-face {
  font-family: "Arial";
  src: url("../fonts/ArialMT.woff2") format("woff2"), url("../fonts/ArialMT.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Arial";
  src: url("../fonts/Arial-ItalicMT.woff2") format("woff2"), url("../fonts/Arial-ItalicMT.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Georgia";
  src: url("../fonts/Georgia.woff2") format("woff2"), url("../fonts/Georgia.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Georgia";
  src: url("../fonts/Georgia-Bold.woff2") format("woff2"), url("../fonts/Georgia-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
* {
  box-sizing: border-box;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}
@media (max-width: 767px) {
  html {
    overflow-x: hidden;
  }
}

.body {
  font-family: "Arial";
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 160%;
}
@media (max-width: 767px) {
  .body {
    position: relative;
    overflow-x: hidden;
  }
}

a {
  text-decoration: none;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

.ico {
  margin-right: 20px;
}

h1 {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 110%;
  letter-spacing: 0.06em;
  text-align: center;
}

h2 {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 44px;
  line-height: 130%;
  color: #ffffff;
}
@media (max-width: 767px) {
  h2 {
    font-size: 25px;
    text-align: center;
    letter-spacing: 0.06em;
  }
}

h3 {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 129%;
  letter-spacing: 0.06em;
  color: #545454;
}
@media (max-width: 767px) {
  h3 {
    font-size: 25px;
    text-align: center;
  }
}

h4 {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #545454;
  text-align: center;
}
@media (max-width: 767px) {
  h4 {
    font-size: 15px;
    line-height: 110%;
  }
}

h5 {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: #545454;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.logo .logo__text {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
  text-align: center;
}
.logo_main h1 {
  color: #f1cdb3;
}
.logo_main .logo__text {
  color: #ffffff;
}
.logo_out h1 {
  color: #545454;
}
.logo_out .logo__text {
  color: #292929;
}
.logo:hover {
  cursor: pointer;
}
.logo_nav {
  display: none;
}
@media (max-width: 767px) {
  .logo_nav {
    display: inline-block;
  }
  .logo_nav h1 {
    color: #f1cdb3;
  }
  .logo_nav .logo__text {
    color: #ffffff;
  }
}

h1 {
  margin-top: 0px;
  margin-bottom: 10px;
}

@media (max-width: 767px) {
  .navigation {
    position: absolute;
    top: 0;
    right: -320px;
    width: 320px;
    height: 100vh;
    background-color: #292929;
    z-index: 4;
    transition: all 0.5s;
  }
  .navigation_open {
    right: 0;
  }
}
.navigation .navigation__link_active {
  position: relative;
}
.navigation .navigation__link_active::after {
  content: " ";
  width: 100%;
  height: 3px;
  position: absolute;
  left: 0;
  bottom: -7px;
  background-color: #f1cdb3;
}
@media (max-width: 767px) {
  .navigation .navigation__link {
    font-size: 32px;
    color: #cdcdcd;
  }
}
.navigation_main .navigation__link {
  color: #cdcdcd;
  transition: all 0.5s;
}
.navigation_main .navigation__link:hover {
  color: #fafafa;
}
.navigation_main .navigation__link_active {
  color: #fafafa;
}
.navigation_out .navigation__link {
  color: #545454;
}
.navigation_out .navigation__link:hover {
  color: #292929;
}
.navigation_out .navigation__link_active {
  color: #292929;
}
@media (max-width: 767px) {
  .navigation_out .navigation__link {
    color: #cdcdcd;
    transition: all 0.5s;
  }
  .navigation_out .navigation__link:hover {
    color: #fafafa;
  }
  .navigation_out .navigation__link_active {
    color: #fafafa;
  }
}

.header__navigation {
  display: flex;
}
.header__navigation li {
  padding-bottom: 5px;
  margin-left: 36px;
}
@media (max-width: 767px) {
  .header__navigation li {
    margin: 0;
  }
}
@media (max-width: 767px) {
  .header__navigation {
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 56px;
    padding-left: 0;
  }
}

.shaddow {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(41, 41, 41, 0.6);
}
.shaddow_open {
  display: block;
  z-index: 3;
}

.button-link {
  display: inline-block;
  padding: 13px 43px;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
  border: 2px solid #f1cdb3;
  border-radius: 100px;
  transition: all 0.5s;
}
.button-link_colored {
  background-color: #f1cdb3;
}
.button-link_colored:hover {
  border-color: #fddcc4;
  background-color: #fddcc4;
}
.button-link_bordered:hover {
  border-color: #fddcc4;
  background-color: #fddcc4;
}

.button {
  width: 52px;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid;
  border-radius: 50%;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  text-align: center;
  letter-spacing: 0.06em;
  padding-bottom: 2px;
  background: #f6f6f6;
}
.button img {
  width: 14px;
  height: 6px;
  margin-top: 1px;
}
.button_active {
  color: #292929;
  border-color: #f1cdb3;
  cursor: pointer;
  transition: all 0.5s;
}
.button_active:hover {
  background: #fddcc4;
  border-color: #fddcc4;
}
.button_disabled {
  border-color: #cdcdcd;
  color: #cdcdcd;
}
.button_colored {
  border-color: #f1cdb3;
  background: #f1cdb3;
  color: #292929;
}

.pet-card {
  width: 270px;
  height: 435px;
  background: #fafafa;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 9px;
  cursor: pointer;
  transition: all 0.5s;
}
.pet-card:hover {
  background: #ffffff;
  box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
}
.pet-card:hover .button-link_bordered {
  background-color: #fddcc4;
}
.pet-card .pet-card__title {
  margin: 30px;
}
@media (max-width: 767px) {
  .pet-card .pet-card__title {
    font-size: 20px;
    line-height: 23px;
  }
}

.help__card {
  width: 170px;
  height: 113px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 1250px) {
  .help__card {
    width: auto;
  }
}
@media (max-width: 767px) {
  .help__card {
    width: 130px;
    height: 87px;
  }
}
.help__card img {
  width: 60px;
  height: 60px;
}
@media (max-width: 767px) {
  .help__card img {
    width: 50px;
    height: 50px;
  }
}

.wrapper {
  max-width: 1280px;
  margin: 0 auto;
  padding-left: 40px;
  padding-right: 40px;
}
@media (max-width: 1250px) {
  .wrapper {
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media (max-width: 767px) {
  .wrapper {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.header_main {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}
@media (min-width: 1250px) {
  .header_main .header__wrapper {
    padding-top: 60px;
    padding-bottom: 30px;
  }
}
.header_out {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background: #ffffff;
}

.header__wrapper {
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  justify-content: end;
  align-items: center;
  position: relative;
}

.logo {
  margin-right: auto;
}
@media (max-width: 767px) {
  .logo_nav {
    padding-top: 30px;
    padding-left: 10px;
  }
}

.hamburger {
  width: 30px;
  height: 22px;
  display: none;
}
@media (max-width: 767px) {
  .hamburger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 5;
    margin-left: 42px;
    margin-right: 42px;
    transition: all 0.5s;
  }
  .hamburger_open {
    transform: rotate(90deg);
  }
  .hamburger_open .hamburger-line {
    background-color: #f1cdb3;
  }
}

.hamburger-line {
  display: inline-block;
  width: 30px;
  height: 2px;
}
.hamburger-line_main {
  background-color: #f1cdb3;
}
.hamburger-line_out {
  background-color: #000000;
}

.not-only {
  background: url(../images/foto/noise_transparent@2x.png), radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%), #211f20;
  padding-top: 120px;
}
@media (min-width: 1250px) {
  .not-only_main {
    padding-top: 150px;
  }
}

.wrapper__not-only {
  display: flex;
  padding-top: 30px;
}
@media (max-width: 1250px) {
  .wrapper__not-only {
    flex-direction: column;
    align-items: center;
  }
}

.not-only__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
@media (max-width: 767px) {
  .not-only__content {
    align-items: center;
  }
}
.not-only__content .not-only__title {
  margin-top: 164px;
  max-width: 310px;
}
@media (max-width: 1250px) {
  .not-only__content .not-only__title {
    margin-top: 0;
  }
}
.not-only__content .not-only__text {
  max-width: 460px;
  margin: 41px 0 42px 0;
  color: #cdcdcd;
}
@media (max-width: 767px) {
  .not-only__content .not-only__text {
    text-align: center;
  }
}
@media (max-width: 1250px) {
  .not-only__content .button-link {
    align-self: center;
  }
}

.not-only__foto {
  margin-left: auto;
}
@media (max-width: 1250px) {
  .not-only__foto {
    margin-top: 100px;
    max-width: 80.4%;
  }
}
@media (max-width: 767px) {
  .not-only__foto {
    max-width: 86.6%;
    margin-top: 106px;
  }
}

.footer {
  background: url(../images/foto/noise_transparent@2x.png), radial-gradient(110.67% 538.64% at 5.73% 50%, #513d2f 0%, #1a1a1c 100%), #211f20;
}

.wrapper__footer {
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
}
@media (max-width: 1120px) {
  .wrapper__footer {
    flex-direction: column;
    align-items: center;
    padding-top: 15px;
  }
}
@media (max-width: 767px) {
  .wrapper__footer {
    padding-top: 13px;
  }
}

.footer__content {
  max-width: 740px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media (max-width: 1120px) {
  .footer__content {
    justify-content: center;
    column-gap: 40px;
  }
}

.footer__contact,
.footer__adress {
  max-width: 300px;
  padding-top: 16px;
  padding-bottom: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (max-width: 1120px) {
  .footer__contact,
.footer__adress {
    row-gap: 32px;
    padding-bottom: 66px;
  }
}
@media (max-width: 767px) {
  .footer__contact,
.footer__adress {
    row-gap: 40px;
    padding-bottom: 24px;
  }
}

.footer__contact .ico {
  width: 40px;
  height: auto;
}
@media (max-width: 767px) {
  .footer__contact {
    align-items: center;
  }
}

.footer__title {
  color: #ffffff;
}

.footer__adress .ico {
  width: 22px;
  height: auto;
}
@media (max-width: 767px) {
  .footer__adress .footer__title {
    align-self: center;
    max-width: 270px;
  }
}

.footer__link {
  display: flex;
  align-items: center;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #f1cdb3;
}
.footer__link:hover {
  cursor: pointer;
}

@media (max-width: 767px) {
  .footer__img {
    padding: 16px 20px 0;
  }
}

.about {
  background: #ffffff;
}

.wrapper__about {
  padding-top: 80px;
  padding-bottom: 89px;
  display: flex;
  justify-content: center;
  gap: 120px;
}
@media (max-width: 1000px) {
  .wrapper__about {
    flex-direction: column-reverse;
    align-items: center;
    gap: 55px;
    padding-bottom: 100px;
  }
}
@media (max-width: 767px) {
  .wrapper__about {
    padding-top: 42px;
    padding-bottom: 43px;
    gap: 19px;
  }
}

.about__content {
  max-width: 430px;
}
@media (max-width: 767px) {
  .about__content {
    max-width: 270px;
  }
}

.about__title {
  max-width: 370px;
  margin-top: 15px;
}
@media (max-width: 1000px) {
  .about__title {
    margin-top: 0;
  }
}
@media (max-width: 767px) {
  .about__title {
    margin-bottom: 25px;
  }
}

.about__text {
  margin: 25px 0;
  text-align: justify;
}
@media (max-width: 767px) {
  .about__text {
    margin: 22px 0;
  }
}

@media (max-width: 767px) {
  .about__foto {
    max-width: 300px;
    width: 86.6%;
  }
}

.our {
  background: #f6f6f6;
  padding-bottom: 100px;
}
.our_pets {
  padding-top: 120px;
}
@media (max-width: 1139px) {
  .our_pets {
    padding-bottom: 76px;
  }
}
@media (max-width: 767px) {
  .our {
    padding-bottom: 42px;
  }
}

.wrapper__our {
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 767px) {
  .wrapper__our {
    padding-top: 40px;
  }
}

.our__title {
  text-align: center;
  padding-left: 2px;
}

.our__content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-top: 58px;
  padding-bottom: 60px;
}
@media (max-width: 1040px) {
  .our__content {
    padding-top: 59px;
  }
}
@media (max-width: 767px) {
  .our__content {
    padding-top: 43px;
    padding-bottom: 42px;
    justify-content: center;
    column-gap: 27%;
    row-gap: 20px;
    flex-wrap: wrap;
  }
}

.our__button-arrey {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (max-width: 767px) {
  .our__button-arrey {
    order: 2;
  }
}

.our__pets {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding-left: 8px;
  padding-right: 7px;
}
@media (max-width: 1040px) {
  .our__pets {
    justify-content: space-between;
    padding: 0 12px;
  }
  .our__pets .item3 {
    display: none;
  }
}
@media (max-width: 767px) {
  .our__pets {
    order: 1;
    justify-content: center;
  }
  .our__pets .item2 {
    display: none;
  }
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 30px;
  padding-top: 60px;
  padding-bottom: 60px;
}
@media (max-width: 1139px) {
  .pagination {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 270px);
    justify-content: center;
    column-gap: 5.6%;
    padding-top: 30px;
    padding-bottom: 40px;
  }
  .pagination .item7,
.pagination .item8 {
    display: none;
  }
}
@media (max-width: 767px) {
  .pagination {
    grid-template-columns: 270px;
    padding-top: 43px;
    padding-bottom: 42px;
  }
  .pagination .item4,
.pagination .item5,
.pagination .item6 {
    display: none;
  }
}

.pagination-buttons {
  max-width: 340px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.help {
  background: #ffffff;
}

.wrapper__help {
  padding-top: 81px;
  padding-bottom: 100px;
}
@media (max-width: 1250px) {
  .wrapper__help {
    padding-top: 80px;
  }
}
@media (max-width: 767px) {
  .wrapper__help {
    padding-top: 42px;
    padding-bottom: 42px;
  }
}

.help__title {
  text-align: center;
  margin-bottom: 60px;
  padding-left: 3px;
}
@media (max-width: 767px) {
  .help__title {
    margin-bottom: 40px;
    padding-left: 1px;
  }
}

.help__cards {
  display: grid;
  grid-template-columns: repeat(3, 170px);
  justify-content: center;
  column-gap: 8.5%;
  row-gap: 55px;
}
@media (min-width: 1250px) {
  .help__cards {
    display: flex;
    flex-wrap: wrap;
    column-gap: 120px;
  }
}
@media (max-width: 767px) {
  .help__cards {
    grid-template-columns: repeat(2, 130px);
    column-gap: 30px;
    row-gap: 30px;
  }
}

.addition {
  background: #f6f6f6;
}

.wrapper__addition {
  display: flex;
  justify-content: center;
  column-gap: 30px;
  row-gap: 30px;
  padding-top: 80px;
  padding-bottom: 80px;
}
@media (max-width: 1000px) {
  .wrapper__addition {
    flex-direction: column-reverse;
    align-items: center;
    padding-top: 81px;
    padding-bottom: 100px;
  }
}
@media (max-width: 767px) {
  .wrapper__addition {
    padding-top: 42px;
    padding-bottom: 42px;
    row-gap: 23px;
  }
}

.addition__img {
  padding-top: 10px;
  padding-left: 1px;
}
@media (max-width: 767px) {
  .addition__img {
    max-width: 505px;
    width: 86.6%;
    padding-top: 0;
  }
}

.addition__content {
  max-width: 380px;
}
.addition__content .button-link {
  display: inline-flex;
  font-size: 20px;
  line-height: 115%;
  border: 0;
  border-radius: 9px;
  padding: 10px 15px;
}
@media (max-width: 767px) {
  .addition__content .button-link {
    text-align: center;
    font-size: 15px;
    line-height: 130%;
  }
}

.ico_card {
  width: 30px;
  height: 23px;
  margin-right: 15px;
}

.addition__title-card {
  margin: 20px 0 19px 0;
}
@media (max-width: 767px) {
  .addition__title-card {
    line-height: 160%;
    letter-spacing: 0em;
    text-align: center;
  }
}
@media (max-width: 767px) {
  .addition__title-card {
    margin-bottom: 21px;
  }
}

.addition__text {
  font-style: italic;
  font-size: 12px;
  line-height: 18px;
  color: #b2b2b2;
  margin: 20px 0;
}
@media (max-width: 767px) {
  .addition__text {
    max-width: 280px;
    text-align: justify;
  }
}

/*# sourceMappingURL=style.css.map */
