.filterConteiner {
  margin-top: 20px;
  display: flex;
  gap: 20px;
  @media screen and (max-width: 1200px) {
    flex-direction: column;
  }
}

.filterConteiner__group {
  width: 100%;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: 3px solid $borderColor;
  border-radius: 10px;
  background-color: rgba($color: #1f1d1d, $alpha: 0.3);
  user-select: none;
}

.containerButtons {
  display: flex;
  align-items: center;
  padding-left: 10px;
  h3 {
    font-size: 1.6rem;
    padding-right: 10px;
  }
  @media screen and (max-width: 1200px) {
    padding-left: 80px;
  }
}

.range__slider {
  display: flex;
  align-items: center;
  gap: 20px;
  .range__amount,
  .range__age {
    flex: 1 0 auto;
  }
}

.range {
  padding: 10px 5px;
  h3 {
    font-size: 1.8rem;
    padding: 10px 0;
  }
}

.rang__value {
  font-size: 2rem;
  width: 70px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid $sliderColor;
  border-radius: 20px;
}

.searchContainer,
.sortContainer,
.resetContainer {
  padding: 5px 10px;
  h3 {
    font-size: 1.8rem;
    padding: 5px;
  }
  input, .sort {
      width: 100%;
    height: 40px;
    border-radius: 10px;
    padding-left: 10px;
    outline: none;
    color: azure;
    border-color: $borderColor;
    background-color: rgba($color: #1f1d1d, $alpha: 0.3);
  }

}

.searchContainer {

  ::placeholder {
    color: azure;
    padding-left: 5px;
  }

  .input:focus {
    outline: none;
    border: 0;
  }

}

.sortContainer {
  .sort {
    cursor: pointer;
  }
  }

.resetContainer {
  display: flex;
  justify-content: space-evenly;
  padding-top: 10px;
  button {
    width: 180px;
    height: 40px;
    color: azure;
    border-radius: 10px;
    border-color: $borderColor;
    background-color: rgba($color: #1f1d1d, $alpha: 0.3);

    cursor: pointer;
  }
}
