.filterConteiner {
  margin-top: 20px;
}

.filtersAmount {

  border: 3px solid $borderColor;

}

.containerButtons {
  display: flex;
  align-items: center;
  h3 {
    font-size: 1.6rem;
    padding-right: 10px;
  }
}