.card {
  border-style: solid;
  border-radius: 10px;
  border-color: $borderColor;
  background-color: rgba($color: #1f1d1d, $alpha: 0.3);
  font-size: 1.8rem;
  cursor: pointer;
  &:hover {
    transition: all .4s;
    transform: scale(1.03);
  }
  .card__title {
    padding-left: 20px;
  }
  ul {
    padding-left: 20px;
  }
  li {
    list-style: none;
    padding-top: 4px;
  }
}

.card__img-container {
  width: 100%;
  height: auto;
 
  .card__img {
    width: 100%;
  }
}

.card__favorites {
  display: flex;
  justify-content: end;
}

.card__cart {
  width: 40px;
  height: 40px;
  margin: 2px;
  border-style: solid;
  border-color: $borderColor;
  border-radius: 10px;
  background: url('../assets/cart.png');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  &_favorites {
    background-color: goldenrod;
    border-color: red;
  }
}
